.home-container{
    // border: 2px solid green;
    height: 100%;
    display: flex;
    position: relative;
}

.friend-section-container{
    // border: 2px solid cyan;
    min-width: 240px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.friend-header{
    // border: 2px solid red;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Whitney Book', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #6c717c;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .3);
    z-index: 2;
    background-color: #2E3136;
}

.friend-header:hover{
    cursor: not-allowed;
}

.friend-search{
    width: 90%;
    height: 60%;
    border-radius: 4px;
    background-color: #202225;
    display: flex;
    align-items: center;
    padding-left: 7px;
}

.friend-index-container{
    // border: 1px solid green;
    height: 100%;
    background-color: #2E3136;
}

.friend-list-container{
    // border: 2px solid cyan;
    overflow-y: scroll;
    height: calc(100vh - 159px);
    padding: 5px;
    font-family: 'Whitney Book', sans-serif;
    font-size: 16px;
    color: #8E9296;
    ul{
        li{
            a{
                // border: 2px solid cyan;
                font-family: 'Whitney Book', sans-serif;
                font-size: 16px;
                color: #8E9296;
                text-decoration: none;
                padding: 7px;
                margin: 0 5px;
                display: flex;
                align-items: center;
                gap: 10px;
            }

            a:hover{
                color: #e0e7ee;
                background-color: #3d4249;
                border-radius: 4px;
            }

            a:focus{
                color: white;
                background-color: #3d4249;
                border-radius: 4px;
            }
        }
    }
}

.see-friend{
    margin: 5px 0;
    a{
        height: 30px;
        img{
            padding: 0px 3px;
        }
    }
}

.friend-list-dm-header{
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    margin-top: 15px;
}

.dm-plus{
    font-size: 24px;
    font-family: 'Whitney Book', sans-serif;
    font-weight: 400;
}

.dm-plus:hover{
    opacity: 60%;
    cursor: not-allowed;
}

.join-seeded-server-container{
    // border: 2px solid red;
    width: 90%;
    // background-color: #36393E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.join-seeded-server-header{
    // border: 2px solid blue;
    color: white;
    font-family: "Whitney", sans-serif;
    font-size: 48px;
    text-align: center;
}

.join-seeded-server-button{
    // border: 2px solid green;
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
    button{
        width: 100%;
        height: 35px;
        box-sizing: border-box;
        // padding: 10px;
        font-size: 14px;
        font-family: 'Whitney Book', sans-serif;
        color: white;
        border-radius: 7px;
        border: none;
        background-color: #5765F2;
        cursor: pointer;
        transition-duration: 0.2s;
    }

    button:hover{
        background-color: #4752C4;
    }
}